/disketo_admin/nbproject/private/
/disketo_admin/build/
/disketo_admin/dist/
/DisketoAdminPanel/nbproject/private/
/DisketoAdminPanel/build/
/pruebaDeConcepto/nbproject/private/
/pruebaDeConcepto/build/
/Disketo_AdminPanel/nbproject/private/
/Disketo_AdminPanel/build/
/VentaBook/nbproject/private/
/VentaBook/build/
/disketo_ejercicio/nbproject/private/
/disketo_ejercicio/build/
/disketo_ejercicio/dist/
/disketo_cliente/nbproject/private/
/disketo_restfull/nbproject/private/
/disketoWebService/nbproject/private/
/disketoWebService/build/
/disketoWebService/dist/
/disketo_restClient/nbproject/private/
/disketo_restClient/build/
/pruebaLibreriaWS/nbproject/private/