/disketo_admin/nbproject/private/
/disketo_admin/build/
/disketo_admin/dist/
/DisketoAdminPanel/nbproject/private/
/DisketoAdminPanel/build/
/pruebaDeConcepto/nbproject/private/
/pruebaDeConcepto/build/
/Disketo_AdminPanel/nbproject/private/
/Disketo_AdminPanel/build/